*{
    background-color: blueviolet;
    color: cyan;
}
.kuchbhi{
    background-color: chartreuse;
    color: crimson;

}
#submitButton{
    background-color: rgb(197, 61, 89);
    color: blue;
}
h1{
    background-color: darkorchid;
    color: darkmagenta;
}